/*************************Mixins********************************************/
/**************************Header Section***********************************/
/**************************Container Section***********************************/
/* line 13, ../sass/main.scss */
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
header {
  display: block;
  padding-top:25px;
  padding-bottom:25px;
}

/* line 20, ../sass/main.scss */
div.sidebar, div.feedview {
  /*background-color: rgba(65,174,239,0.8);*/
  -webkit-border-radius: 5px;
  border-radius: 6px;
  padding: 10px;
}
div#filter_sec{
  display: block;
  text-align: left;
  margin-left: 10px;
  height:50px;
  float: none;
  position: relative;
}
.top_row{
  position: relative;
}
input.search{
  font-size: 27px;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 2px;
  margin-left: 35px;
  bottom: 25px;
  border-radius: 0px;
  color: #000;
  outline-width: 0px;
  outline-style: none;
  -webkit-appearance: none;
  border: 0px solid #414142;
  border-bottom: 1px solid #414142;
  float: none;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}
input.search:after{
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url('/img/search.png');
}
.profPic{
  border: 0px solid #414243;
  border-radius: 0px;
  margin-bottom: 10px;
}
#upcoming_title{
  text-align: left;
  padding-right: 0px;
  color: rgba(65,174,239,1);
  margin-bottom: 10px;
  padding-bottom: 0px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
}
header{
  display: block;
}
#personal_topblock{
  display: block;
  width: 100%;
  height: 100px;
  margin-top: 210px;
}
.upcoming_personal{
  list-style: none;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 5px;
  cursor: pointer;
}
.upcoming_personal li{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}
.upcoming_personal li:hover .personal_title{
  color: #41aeef;
}
.upcoming_personal li:last-child{
  border-bottom: 0px;
}
.personal_title{
  display: block;
  font-size: 28px;
  text-transform: uppercase;
  padding-right: 8px;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transform: translateZ(0);
}
.personal_date{
  color: rgba(0,0,0,0.7);
}
.personal_links{
  list-style: none;
  padding-left: 0px;
  padding-top: 5px;
}
.personal_links li{
  display: block;
  margin-bottom: 8px;
}
.personal_links a{
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #41aeef;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
}

/* line 27, ../sass/main.scss */
div.sidebar {
  /*top: 125px;*/
  margin: 0 auto;
  /*position: fixed;*/
  padding-bottom: 30px;
  padding: 8px;
  padding-bottom: 10px;
  font-family: 'Merriweather Sans', sans-serif;
}

/* line 36, ../sass/main.scss */
section {
  display: inline;
  position: relative;
}

/* line 41, ../sass/main.scss */
img.logo {
  padding: 0;
  margin: 0;
  /*position: fixed;*/
}
/* line 46, ../sass/main.scss */
img.settings {
  padding-right: 10px;
}
#main_wrap{
  width: 1200px;
  margin: 0 auto;
}
.row.event{
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0px;
  display: block;
  margin-bottom: 15px;
  margin-left: 0px;
}
.event_bg{
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.event_overlay{
  display: block;
  background: rgba(255,255,255,0.8);
  height: 60px;
  position: absolute;
  bottom: 20px;
  margin-left: 0px!important;
  font-family: 'Merriweather Sans', sans-serif;
}
.event_overlay.odd{
  right: 0;
}
.feed_event_meta{
  display: inline-block;
  width: 400px;
  padding-left: 15px;
}
.feed_event_title{
  display: block;
  font-size: 28px;
  text-transform: uppercase;
  padding-right: 8px;
  max-width:400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transform: translateZ(0);
}
.feed_event_date{
  color: rgba(0,0,0,0.9);
}
.criss{
  margin-left:10px;
  margin-top: 18px;
  display: inline-block;
  vertical-align: middle;
  background: url('/img/criss.png');
  width:90px;
  height:40px;
  background-repeat: no-repeat;
}
.criss.active{
  background: url('/img/criss-active.png');
}
.attendee_list{
  list-style: none;
  padding-left: 0px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 60px;
  margin-top: 12px;
}
.attendee_list li{
  display: inline-block;
  margin-right: 4px;
  height: 45px;
  border-radius: 45px;
}
.attendee_list li span{
  display: inline-block;
    font-size: 16px;
  line-height: 45px;
  vertical-align: middle;
  font-family: 'Merriweather Sans', sans-serif;
}
.attendee_list li img{
  display: inline-block;
  vertical-align: middle;
  border-radius: 45px;
  height: 45px;
  width: 45px;
  border: 3px solid #ccc;
  margin-right: 5px;
}
.event_img{
  opacity: .8;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  -webkit-transform: translateZ(0);
}
.event_bg:hover .event_img{
  opacity: 1;
}
.event_bg:hover .feed_event_title{
  color: #41aeef;
}
.footer{
    z-index: 9999;
    position: relative;
    padding-bottom: 30px;
}
.footer div{
  font-family: 'Merriweather Sans', sans-serif;
  text-align: right;
  padding-right: 0px;
  margin-left: -50px;
  font-size: 12px;
}
.footer a{
  color: #41aeef;
  text-decoration: none;
}
#fader{
  position: fixed;
  background-image: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  height: 200px;
  display: block;
  bottom: 0px;
  margin-left:0px;
  padding-bottom: 40px;
}
#google-overlay{
  width: 400px;
  display: none;
  margin: 0 auto;
  left: 0!important;
  right: 0;
  position: relative;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  font-family: 'Merriweather Sans', sans-serif;
}
#google-overlay h2{
  margin-top: 0px;
  color: #41aeef;
}
#authorize-button{
  display: block;
  width: 230px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 4px;
  padding-left: 4px;
  background: #41aeef;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}