/*************************Mixins********************************************/
/**************************Header Section***********************************/
/**************************Container Section***********************************/
/* line 13, ../sass/main.scss */
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
header {
  display: block;
  padding-top:25px;
  padding-bottom:25px;
}

/* line 20, ../sass/main.scss */
div.sidebar, div.feedview {
  /*background-color: rgba(65,174,239,0.8);*/
  -webkit-border-radius: 5px;
  border-radius: 6px;
  padding: 10px;
}
div#filter_sec{
  float: right;
  text-align: right;
}
.profPic{
  border: 6px solid #414243;
  border-radius: 0px;
  margin-bottom: 10px;
}
#upcoming_title{
  text-align: left;
  padding-right: 0px;
  color: rgba(65,174,239,1);
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 40px;
  line-height: 32px;
  text-transform: uppercase;
}
.upcoming_personal{
  list-style: none;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 5px;
}
.upcoming_personal li{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}
.upcoming_personal li:last-child{
  border-bottom: 0px;
}
.personal_title{
  display: block;
  font-size: 28px;
  text-transform: uppercase;
  padding-right: 8px;
}
.personal_date{
  color: rgba(0,0,0,0.7);
}
.personal_links{
  list-style: none;
  padding-left: 0px;
  padding-top: 5px;
}
.personal_links li{
  display: block;
  margin-bottom: 8px;
}
.personal_links a{
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #41aeef;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
}

/* line 27, ../sass/main.scss */
div.sidebar {
  /*top: 125px;*/
  margin: 0 auto;
  /*position: fixed;*/
  padding-bottom: 30px;
  padding: 8px;
  padding-bottom: 10px;
  font-family: 'Merriweather Sans', sans-serif;
}

/* line 36, ../sass/main.scss */
section {
  display: inline;
  position: relative;
}

/* line 41, ../sass/main.scss */
img.logo {
  padding: 0;
  margin: 0;
  /*position: fixed;*/
}
/* line 46, ../sass/main.scss */
img.settings {
  padding-right: 10px;
}
#main_wrap{
  width: 1200px;
  margin: 0 auto;
}
.row.event{
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
}