/*************************Mixins********************************************/
/**************************Header Section***********************************/
/**************************Container Section***********************************/
/* line 13, ../sass/main.scss */
header {
  display: block;
}

/* line 20, ../sass/main.scss */
div.sidebar, div.feedview {
  background-color: #dceaf4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}

/* line 27, ../sass/main.scss */
div.sidebar {
  /*top: 125px;*/
  margin: 0 auto;
  /*position: fixed;*/
  padding-bottom: 30px;
}

/* line 36, ../sass/main.scss */
section {
  display: inline;
  position: relative;
}

/* line 41, ../sass/main.scss */
img.logo {
  padding: 0;
  margin: 0;
  /*position: fixed;*/
}
/* line 46, ../sass/main.scss */
img.settings {
  padding-right: 10px;
}
#main_wrap{
  width: 1200px;
  margin: 0 auto;
}