<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Criss Cross</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/img/favicon.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <!-- Navbar
    ================================================== -->
    <div class="container-fluid" id="main_wrap">

    <!-- Main Container
    ================================================== -->
    	<div class="row-fluid">
    		<div class="span3 sidebar">
                <header class="span12">
                     <img class="logo span12" src="/img/logo.png" alt="Criss Cross">
                 </header>
    			<img src="/img/yair-sample.jpg" alt="" class="span12 profPic">
				<h2 id="upcoming_title">Upcoming events</h2>
				<ul class="upcoming_personal">
					<li>
                        <span class="personal_title">bonnaroo music &amp; arts festival</span>
                        <span class="personal_date">February 6, 2013</span>
                    </li>
					<li><span class="personal_title">bonnaroo music</span>
                        <span class="personal_date">February 6, 2013</span>
                    </li>
					<li><span class="personal_title">bonnaroo</span>
                        <span class="personal_date">February 6, 2013</span>
                    </li>
				</ul>
                <ul class="personal_links">
                    <li><a href="#">add/remove calendars</a></li>
                    <li><a href="#">logout</a></li>
                </ul>
    		</div>

    		<div class="span9 feedview">
                <div id="filter_sec" class="span11">
                    <input type="text" class="search span10" name="search" placeholder="search for events and people..." />
                </div>
                <div class="row event span11">
    				<div class="event_media">
                        <div class="span12 event_bg">
                            <img src="/img/sample-event-main.jpg" height="300" class="span8 event_img" alt="">
        					<img src="/img/sample-map.png" height="300" class="span4 event_img" alt="">
                            <div class="event_overlay span8">
                                <div class="feed_event_meta">
                                    <span class="feed_event_title">bonnaroo music &amp; arts festival</span>
                                    <span class="feed_event_date">June 13-16</span>
                                </div>
                            </div>
    				    </div>
                        <div class="criss active"></div>
                        <ul class="attendee_list">
                            <li><img src="/img/person1.jpg" /><span>Nis Frome</span></li>
                            <li><img src="/img/person2.jpg" /><span>Jason de Leon</span></li>
                            <li><img src="/img/person3.jpg" /><span>Carlos Ospina</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row event span11">
                    <div class="event_media">
                        <div class="span12 event_bg">
                            <img src="/img/sample-map2.png" height="300" class="span4 event_img" alt="">
                            <img src="/img/sample-event-main2.jpg" height="300" class="span8 event_img" alt="">
                            <div class="event_overlay span8 odd">
                                <div class="feed_event_meta">
                                    <span class="feed_event_title">Yankees vs Orioles</span>
                                    <span class="feed_event_date">August 10</span>
                                </div>
                            </div>
                        </div>
                        <div class="criss"></div>
                        <ul class="attendee_list">
                            <li><img src="/img/person1.jpg" /><span>Nis Frome</span></li>
                            <li><img src="/img/person2.jpg" /><span>Jason de Leon</span></li>
                            <li><img src="/img/person3.jpg" /><span>Carlos Ospina</span></li>
                        </ul>
                    </div>
                </div>
                 <div class="row event span11">
                    <div class="event_media">
                        <div class="span12 event_bg">
                            <img src="/img/sample-event-main.jpg" height="300" class="span8 event_img" alt="">
                            <img src="/img/sample-map.png" height="300" class="span4 event_img" alt="">
                            <div class="event_overlay span8">
                                <div class="feed_event_meta">
                                    <span class="feed_event_title">bonnaroo music &amp; arts festival</span>
                                    <span class="feed_event_date">June 13-16</span>
                                </div>
                            </div>
                        </div>
                        <div class="criss active"></div>
                        <ul class="attendee_list">
                            <li><img src="/img/person1.jpg" /><span>Nis Frome</span></li>
                            <li><img src="/img/person2.jpg" /><span>Jason de Leon</span></li>
                            <li><img src="/img/person3.jpg" /><span>Carlos Ospina</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row event span11">
                    <div class="event_media">
                        <div class="span12 event_bg">
                            <img src="/img/sample-map2.png" height="300" class="span4 event_img" alt="">
                            <img src="/img/sample-event-main2.jpg" height="300" class="span8 event_img" alt="">
                            <div class="event_overlay span8 odd">
                                <div class="feed_event_meta">
                                    <span class="feed_event_title">Yankees vs Orioles</span>
                                    <span class="feed_event_date">August 10</span>
                                </div>
                            </div>
                        </div>
                        <div class="criss"></div>
                        <ul class="attendee_list">
                            <li><img src="/img/person1.jpg" /><span>Nis Frome</span></li>
                            <li><img src="/img/person2.jpg" /><span>Jason de Leon</span></li>
                            <li><img src="/img/person3.jpg" /><span>Carlos Ospina</span></li>
                        </ul>
                    </div>
                </div>
                <div id="fader" class="span11">
                </div>
    		</div>
    	</div>
            <div id="google-overlay">
                <a href='#' id='authorize-button' onclick='handleAuthClick();'>Login with Google</a>
            </div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">Designed and built at <img src="/img/hackny.png" height="20" style="margin-bottom:-4px;"/> Spring 2013 in less than 24 hours.</div>
    </footer>


    	
    </div>
	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js
"></script>
	

    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript">
      var clientId = '520485388101.apps.googleusercontent.com';
      // To use in your own application, replace this API key with your own.
      var apiKey = 'AIzaSyD0X1YQ_uwjhzBYvmwYXAwsSP23ELcxFU8';
      // To enter one or more authentication scopes, refer to the documentation for the API.
      var scopes = 'https://www.googleapis.com/auth/calendar.readonly';

       //Several boilerplate methods to check that the user is logged in and to handle authorization
      function handleClientLoad() {
        gapi.client.setApiKey(apiKey);
        window.setTimeout(checkAuth,1);
        checkAuth();
      }

      function checkAuth() {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true},
            handleAuthResult);
      }

      function handleAuthResult(authResult) {
        var authorizeButton = document.getElementById('authorize-button');
        if (authResult) {
          makeApiCall();
        } else {
            googover();
          authorizeButton.onclick = handleAuthClick;
         }
      }

      function handleAuthClick(event) {
        gapi.auth.authorize(
            {client_id: clientId, scope: scopes, immediate: false},
            handleAuthResult);
        return false;
      }

// Once the application is authorized, the makeApiCall function makes a request to the API of your choice
// 
      function makeApiCall() {
        var start = new Date();
  gapi.client.load('calendar', 'v3', function() {
    var request = gapi.client.calendar.events.list({
      'calendarId': 'primary',
      'singleEvents': 'true',
      'orderBy': 'startTime',
      'maxResults': 50

    });
    // console.log(start);

   // make a request to retrieve a list of events from the user’s primary calendar, and use the results to populate a list on the page       
    request.execute(function(resp) {
      console.log(resp);
      for (var i = 0; i < resp.items.length; i++) {
        // console.log(resp.items[i]);
        if(resp.items[i].summary != ' ' && resp.items[i].summary){
          if (resp.items[i].summary.indexOf("[cc]") !== -1) {
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(resp.items[i].summary));
            document.getElementById('events').appendChild(li);   
          };
        }

      }
    });
  });
}


    </script>
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script>
          function googover(){$('#google-overlay').overlay({
            top: 260,
             mask: {
 
        // you might also consider a "transparent" color for the mask
         color: '#000',
 
         // load mask a little faster
         loadSpeed: 200,
 
         // very transparent
         opacity: 0.7
         },
            closeOnClick: false,
            load: true

        });
      }
    </script>

  </body>
</html>
