<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Criss Cross</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <!-- Navbar
    ================================================== -->
    <div class="container-fluid" id="main_wrap">
        <div class="row top_row">
            <header class="span3">
		      <img class="logo span3" src="/img/logo.png" alt="Criss Cross">
	       </header>
           <div id="filter_sec" class="span9">
                <input type="text" class="search span8" name="search" placeholder="search for events and people..." />
           </div>
        </div>

    <!-- Main Container
    ================================================== -->
    	<div class="row-fluid">
    		<div class="span3 sidebar">
    			<img src="/img/yair-sample.jpg" alt="" class="span12 profPic">
				<h2 id="upcoming_title">Upcoming events</h2>
				<ul class="upcoming_personal">
					<li>
                        <span class="personal_title">bonnaroo music &amp; arts</span>
                        <span class="personal_date">February 6, 2013</span>
                    </li>
					<li><span class="personal_title">bonnaroo music</span>
                        <span class="personal_date">February 6, 2013</span>
                    </li>
					<li><span class="personal_title">bonnaroo</span>
                        <span class="personal_date">February 6, 2013</span>
                    </li>
				</ul>
                <ul class="personal_links">
                    <li><a href="#">add/remove calendars</a></li>
                    <li><a href="#">logout</a></li>
                </ul>
    		</div>

    		<div class="span9 feedview">
                <div class="row event span11">
    				<div class="event_media">
                        <div class="span12 event_bg">
                            <img src="/img/sample-event-main.jpg" height="300" class="span8 event_img" alt="">
        					<img src="/img/sample-map.png" height="300" class="span4 event_img" alt="">
                            <div class="event_overlay span8">
                                <div class="feed_event_meta">
                                    <span class="feed_event_title">bonnaroo music &amp; arts festival</span>
                                    <span class="feed_event_date">June 13-16</span>
                                </div>
                            </div>
    				    </div>
                        <div class="criss active"></div>
                        <ul class="attendee_list">
                            <li><img src="/img/person1.jpg" /><span>Nis Frome</span></li>
                            <li><img src="/img/person2.jpg" /><span>Jason de Leon</span></li>
                            <li><img src="/img/person3.jpg" /><span>Carlos Ospina</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row event span11">
                    <div class="event_media">
                        <div class="span12 event_bg">
                            <img src="/img/sample-map2.png" height="300" class="span4 event_img" alt="">
                            <img src="/img/sample-event-main2.jpg" height="300" class="span8 event_img" alt="">
                            <div class="event_overlay span8 odd">
                                <div class="feed_event_meta">
                                    <span class="feed_event_title">Yankees vs Orioles</span>
                                    <span class="feed_event_date">August 10</span>
                                </div>
                            </div>
                        </div>
                        <div class="criss"></div>
                        <ul class="attendee_list">
                            <li><img src="/img/person1.jpg" /><span>Nis Frome</span></li>
                            <li><img src="/img/person2.jpg" /><span>Jason de Leon</span></li>
                            <li><img src="/img/person3.jpg" /><span>Carlos Ospina</span></li>
                        </ul>
                    </div>
                </div>
                 <div class="row event span11">
                    <div class="event_media">
                        <div class="span12 event_bg">
                            <img src="/img/sample-event-main.jpg" height="300" class="span8 event_img" alt="">
                            <img src="/img/sample-map.png" height="300" class="span4 event_img" alt="">
                            <div class="event_overlay span8">
                                <div class="feed_event_meta">
                                    <span class="feed_event_title">bonnaroo music &amp; arts festival</span>
                                    <span class="feed_event_date">June 13-16</span>
                                </div>
                            </div>
                        </div>
                        <div class="criss active"></div>
                        <ul class="attendee_list">
                            <li><img src="/img/person1.jpg" /><span>Nis Frome</span></li>
                            <li><img src="/img/person2.jpg" /><span>Jason de Leon</span></li>
                            <li><img src="/img/person3.jpg" /><span>Carlos Ospina</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row event span11">
                    <div class="event_media">
                        <div class="span12 event_bg">
                            <img src="/img/sample-map2.png" height="300" class="span4 event_img" alt="">
                            <img src="/img/sample-event-main2.jpg" height="300" class="span8 event_img" alt="">
                            <div class="event_overlay span8 odd">
                                <div class="feed_event_meta">
                                    <span class="feed_event_title">Yankees vs Orioles</span>
                                    <span class="feed_event_date">August 10</span>
                                </div>
                            </div>
                        </div>
                        <div class="criss"></div>
                        <ul class="attendee_list">
                            <li><img src="/img/person1.jpg" /><span>Nis Frome</span></li>
                            <li><img src="/img/person2.jpg" /><span>Jason de Leon</span></li>
                            <li><img src="/img/person3.jpg" /><span>Carlos Ospina</span></li>
                        </ul>
                    </div>
                </div>
                <div id="fader" class="span11">
                </div>
    		</div>
    	</div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">Designed and built at <img src="/img/hackny.png" height="20" style="margin-bottom:-4px;"/> Spring 2013 in less than 24 hours.</div>
    </footer>


    	
    </div>
	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js
"></script>
	

    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.js"></script>



  </body>
</html>
